{
  "trailingComma": "es5",
  "quotes": "double",
  "overrides": [
    {
      "files": ["*.json", ".eslintrc*", ".prettierrc*"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
