@import 'variables.scss';

.page-content {
  margin-left: 5%;
  width: 100%;

  .contact-title {
    font-size: x-large;
    font-family: $typewriter-font;
  }

  .contact-body {
    margin-left: 2.5rem;
    width: 50%;

    .contact-message {
      font-family: $round-font;
      font-weight: 900;
      font-size: large;
    }

    .input {
      margin: 1rem;
    }

    .contact-form {
      @include xs {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
      }

      @include sm {
        flex-direction: column;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
      }
    }
    .form-submit-btn {
      font-family: $typewriter-font;
      background-color: #4c4c4c;
      color: #fff;
      border: none;
      padding: 10px 20px;
      font-size: 1.2em;
      cursor: pointer;
      transition: #4c4c4c 0.3s;

      &:hover {
        background-color: #666;
      }
    }
  }
}
