@import 'variables.scss';

main {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include xs {
    flex-direction: column;
    width: 400px;
  }

  @include sm {
    flex-direction: column;
    width: 600px;
  }

  .title {
    font-family: $typewriter-font;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  .gallery-image {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
  }
}
