@use "variables.scss";

main {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include variables.xs {
    flex-direction: column;
    width: 400px;
  }

  @include variables.sm {
    flex-direction: column;
    width: 600px;
  }

  .title {
    font-family: variables.$typewriter-font;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 2rem;
  }
  .gallery-image {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
  }

  .cover-gallery-image {
    height: 250px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
  }
}
