@import 'variables.scss';

.page-content {
  margin: 5%;

  .title {
    font-family: $typewriter-font;
  }

  .list-item {
    a {
      font-family: $round-font;
      color: darkred;
      text-decoration: none;

      &:hover {
        color: darkred;
        text-decoration: none;
      }
    }
  }

  .subtitle {
    font-family: $typewriter-font;
    font-size: larger;
  }

  .heading {
    font-family: $round-font;
    font-weight: 900;
    font-size: large;
  }

  p {
    font-family: $round-font;
  }

  .when-line {
    padding-left: 40px;
    text-indent: -40px;
  }
}

.bullet-list {
  list-style: '⌲ ';
  font-weight: 400;
}
