@use 'variables.scss';

.list-history-container {
  margin-left: 7%;
  margin-top: 2%;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 2rem;

  h1 {
    font-family: variables.$typewriter-font;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-family: variables.$typewriter-font;
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  a {
    color: darkred;
  }

  .delete-selected-button {
    margin: 0.5rem;
    background-color: darkred;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: black;
    }
  }

  .list-history-table,
  .categories-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    border-radius: 5px;
    font-family: variables.$round-font;
    table-layout: fixed;

    button {
      font-size: 1.5rem;
      background-color: transparent;
      color: darkred;
      border: none;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }

    th,
    td {
      padding: 1rem;
      border-bottom: 1px solid #ccc;
    }

    th {
      background-color: darkred;
      color: white;
      font-size: 1.2rem;
    }

    tr {
      cursor: pointer;
    }

    tr:hover,
    tr.selected {
      background-color: goldenrod;
      color: white;
    }
  }

  .add-category-form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 0 1rem 1rem;
    border: 1px solid darkred;
    border-radius: 8px;
    width: 50%;

    input {
      padding: 0.5rem;
      font-size: 1rem;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 1rem;
    }

    button {
      width: 25%;
      font-size: 1rem;
      background-color: darkred;
      color: white;
      border-radius: 5px;
      border: none;
      cursor: pointer;

      &.cancel-button {
        background-color: goldenrod;
      }

      &:hover {
        background-color: black;
      }
    }
  }

  .custom-checkbox {
    accent-color: darkred;
  }
}

.edit-category-modal {
  font-family: variables.$round-font;

  .edit-category-modal-header {
    font-family: variables.$typewriter-font;
  }

  .edit-category-form {
    padding: 1rem;

    input {
      width: 80%;
      margin-bottom: 1rem;
    }

    .edit-category-modal-button {
      margin-left: 1rem;
      padding: 0.3rem 0.8rem;
      font-family: variables.$round-font;
      background-color: darkred;
      color: white;
      border-radius: 4px;
      border: none;

      &:hover {
        background-color: black;
      }
    }
  }
}
