@use 'variables.scss';

.publication-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: end;
  width: 80%;
  margin: 0.5rem;
  padding: 0.5rem;
  border: dashed;

  @include variables.xs {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
  }

  @include variables.sm {
    flex-direction: column;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
  }

  .icon {
    font-size: xx-large;
    margin: 1rem;
  }

  .publication-info {
    font-family: variables.$round-font;

    .publication-title {
      font-size: medium;
    }

    .publication-press {
      font-size: small;
    }

    .publication-notes {
      font-size: smaller;
    }
    .publication-date {
      font-size: x-small;
    }
  }
}
