@use 'variables.scss';

.index-bio {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 10%;
  margin-right: 10%;
  font-family: variables.$round-font;

  @include variables.xs {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  @include variables.sm {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  @include variables.md {
    flex-direction: column;
    align-items: center;
  }

  .author-photo {
    margin: 3rem;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;

    @include variables.xs {
      width: 80%;
      height: 80%;
    }

    @include variables.sm {
      width: 80%;
      height: 80%;
    }

    @include variables.md {
      width: 400px;
    }
  }

  .bio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .bio-heading {
      font-family: variables.$typewriter-font;
    }

    a {
      color: darkred;
    }
  }
}
