@use "variables.scss";

.c {
  margin-top: 0.75rem;
  font-family: variables.$typewriter-font;
  padding-left: 1rem;
  width: 80%;

  .swift-line {
    @include variables.xs {
      font-size: 0.75rem;
    }
  }
}

.swift-button-holder {
  margin: 1rem;
}

.swift-button {
  margin-left: 1rem;
  padding: 0.3rem;
  font-family: variables.$typewriter-font;
  background-color: darkred;
  color: white;
}

.taper-note {
  width: 80%;
  margin-top: 3rem;
  font-family: variables.$serif-font;

  a {
    color: darkred;
  }
}
