@use 'variables.scss';

.todo-container {
  padding: 3rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 2%;
  margin-top: 0.5rem;

  .todo-title {
    font-family: variables.$typewriter-font;
  }

  .edit-list-container {
    display: flex;
    align-items: center;
    font-family: variables.$round-font;
    padding: 0.2rem;

    .edit-list-button {
      background-color: transparent;
      color: darkred;
      border: none;
    }
  }

  .todo-form {
    margin-bottom: 1rem;
    padding: 1rem;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: variables.$round-font;

    @include variables.sm {
      width: 80%;
    }

    @include variables.xs {
      width: 100%;
    }

    &.minimized {
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 0.3rem 0.8rem;
      font-family: variables.$round-font;
      background-color: darkred;
      color: white;
      border-radius: 4px;
      border: none;
      text-align: center;
      cursor: pointer;
      width: 175px;

      &:hover {
        background-color: black;
      }

      .task-form-open-close-btn {
        color: white;

        &:hover {
          color: white;
          cursor: pointer;
        }
      }
    }

    input {
      margin: 0.5rem;
      width: 50%;

      @include variables.sm {
        margin: 0.2rem;
        width: 50%;
      }

      @include variables.xs {
        margin: 0.1rem;
        width: 60%;
      }
    }

    select {
      margin-left: 0.5rem;
    }

    button {
      padding: 0.3rem 0.8rem;
      font-family: variables.$round-font;
      background-color: darkred;
      color: white;
      border-radius: 4px;
      border: none;

      &:hover {
        background-color: black;
      }

      &:disabled {
        background-color: darkgray;
        color: black;
        cursor: not-allowed;
      }
    }
  }

  .minimized-task-form {
    width: 25%;

    button.minimized {
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 0.3rem 0.8rem;
      font-family: variables.$round-font;
      background-color: darkred;
      color: white;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: black;
      }
    }

    @include variables.md {
      width: 40%;
    }
    @include variables.sm {
      width: 50%;

      button {
        width: auto;
      }
      span {
        display: none;
      }
    }
    @include variables.xs {
      width: 60%;

      span {
        display: none;
      }
    }
  }

  .task-form-open-close-btn {
    &:hover {
      color: darkred;
      cursor: pointer;
    }
  }

  .todo-list {
    font-family: variables.$round-font;

    .todo-list-item {
      margin: 0.2rem;
      padding: 0.2rem;
      border-radius: 6px;

      button {
        margin-left: 0.5rem;
        font-family: variables.$round-font;
        border-radius: 4px;
        border: none;
        cursor: pointer;
      }

      .edit-task-button {
        background-color: transparent;
        color: goldenrod;
      }

      .finish-task-button {
        background-color: transparent;
        color: darkcyan;
      }

      &.selected {
        background-color: lightgray;
      }
    }
  }

  .selected-task-buttons {
    button {
      margin: 0.2rem;
      margin-bottom: 0.5rem;
      padding: 0.3rem 0.8rem;
      font-family: variables.$round-font;
      background-color: darkred;
      color: white;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: black;
      }
    }
  }

  .random-task-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.3rem 0.8rem;
    font-family: variables.$round-font;
    background-color: darkred;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: black;
    }
  }

  .random-task {
    margin: 1.5rem;
    font-family: variables.$round-font;
    font-size: 1.2rem;

    .current-task {
      margin-left: 1.5rem;
      font-family: variables.$typewriter-font;
      font-size: 1.5rem;
      font-weight: bold;
    }

    button {
      background-color: transparent;
      border: none;
    }

    .save-button {
      color: darkred;

      &:hover {
        color: goldenrod;
      }

      &:disabled {
        color: darkgray;
        cursor: not-allowed;
      }
    }

    .done-button {
      color: darkcyan;
      margin-right: 0.5rem;

      &:hover {
        color: goldenrod;
      }
    }
  }

  .completed-tasks {
    margin: 1.5rem;
    font-family: variables.$round-font;
    font-size: 1.2rem;

    .completed-task {
      text-decoration: line-through;
      cursor: pointer;

      &.show-button {
        .back-to-list-button {
          display: inline-block;
        }
      }

      .back-to-list-button {
        display: none;
        margin-left: 0.5rem;
        cursor: pointer;
        color: goldenrod;
        background-color: transparent;
        border: none;
      }
    }
  }

  .bottom-button {
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0.3rem 0.8rem;
    font-family: variables.$round-font;
    background-color: darkred;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    &.most-recent-list-button {
      background-color: goldenrod;
    }

    &.new-list-button {
      background-color: darkcyan;
    }
  }

  .list-select {
    margin-left: 1rem;
    padding: 0.3rem 0.8rem;
    border-radius: 4px;
  }

  .completed-list-success-message {
    padding: 1rem;
    margin: 1rem;
    font-family: variables.$round-font;
    border: 1px solid darkred;
    border-radius: 8px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .fa {
      color: goldenrod;
    }

    .congrats-cat {
      width: 90%;
      margin-bottom: 1rem;
      border-radius: 8px;
    }
  }
}

.supabase-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-top: 5%;
  margin-left: 25%;
  padding: 3rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h2 {
    font-family: variables.$typewriter-font;
    text-align: center;
  }
}

.authenticated-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin-left: 68%;
  margin-top: 1%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: variables.$round-font;

  a {
    color: darkred;
    font-family: variables.$round-font;
  }
  @include variables.sm {
    margin-left: 48%;
    width: 50%;
  }

  @include variables.xs {
    margin-left: 48%;
    width: 50%;
  }
  .user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
  }

  .logout-button {
    background: darkred;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    width: 25%;
    height: 50%;
    font-size: 1rem;

    @include variables.sm {
      padding: 0.3rem 0.5rem;
      font-size: 0.8rem;
      width: 30%;
      height: 40%;
    }
  }
}

.edit-list-modal {
  font-family: variables.$round-font;

  .edit-list-modal-header {
    font-family: variables.$typewriter-font;
  }

  .edit-list-form {
    padding: 1rem;

    input {
      width: 80%;
      margin-bottom: 1rem;
    }

    .edit-list-modal-button {
      margin-left: 1rem;
      padding: 0.3rem 0.8rem;
      font-family: variables.$round-font;
      background-color: darkred;
      color: white;
      border-radius: 4px;
      border: none;

      &:hover {
        background-color: black;
      }
    }
  }
}

.edit-task-modal {
  font-family: variables.$round-font;

  .edit-task-modal-header {
    font-family: variables.$typewriter-font;
  }

  .edit-task-form {
    padding: 1rem;

    input {
      width: 80%;
      margin-bottom: 1rem;
    }

    .edit-task-modal-button {
      margin-left: 1rem;
      padding: 0.3rem 0.8rem;
      font-family: variables.$round-font;
      background-color: darkred;
      color: white;
      border-radius: 4px;
      border: none;

      &:hover {
        background-color: black;
      }
    }

    .delete-task-button {
      margin-left: 1rem;
      padding: 0.3rem 0.8rem;
      font-family: variables.$round-font;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      background-color: darkred;
      color: white;
    }
  }
}
