$serif-font: "Cormorant", serif;
$typewriter-font: "Special Elite", cursive;
$round-font: "Varela Round", sans-serif;

$body-font: "Cormorant Garamond", serif;
$sub-font: "EB Garamond", serif;
$header-font: "Cormorant", serif;
